
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13pt;
	font-weight: 300;
	color: #d4d4d4;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #d6c644;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
	height: 200px;
	width: 150px;
}

	.image
	{
		display: inline-block;
	}

		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
		border: solid black 5px;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr
{
	display: none;
}

/** WRAPPER */

#wrapper {
	background: #00071e url(images/bg01.png) repeat;
}

.container
{
	width: 1200px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
	position: relative;
	height: 150px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
		height:0;
	}
	.logo {height: 110px;
	width: 120px;}

	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		right: 0;
		top: 4.5em;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		display: block;
		padding: 0.80em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #ecea86;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}

	#menu .current_page_item a
	{
		color: #FFF;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		position: relative;
		overflow: hidden;
		padding: 6em 0em 5em 0em;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 790px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 345px;
	}

	#sidebar .title h2
	{
		font-size: 1.6em;
	}

	#sidebar .box1
	{
		margin-bottom: 3em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	overflow: hidden;
	height: 600px;
	background: url('images/header.png') no-repeat top center;
	background-size: 100%;
}

#header-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('images/bg01.png');
	opacity: .1;
}

#header-wrapper2
{
	background: rgba(0,0,0,.7);
	box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.1);
}



	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}

	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		background: #0000;
		padding: 6em 0em;
	}

	#portfolio
	{
		overflow: hidden;
		text-align: center;
		color: #4b4f00;
		font-weight: 400;
	}

	#portfolio .title h2
	{
		color: #FFF;
	}



	#column1,
	#column2,
	#column3,
	#column4
	{ position: relative;
		width: 275px;
		height: 303px;
  	background-color: white;
		border: solid 0.3em #0f1d8e;
	}

	#column1,
	#column2
	{
		float: left;
		margin-right: 24px;
	}

	#column3
	{
		float: left;
	}

	#column4
	{
		float: right;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}

	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}

	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/
	.title
	{
		display: inline-block;
		margin-bottom: 3em;
		text-transform: uppercase;
		border: double white 1em;
		border-radius: 50px;
		padding: 2em;
		color: #ecea86;
		text-align: center;
	}

  .title p
	{
    position: relative;
    top: 25px;
	  text-transform: none ;
		text-align: left;
		color: #7e8324;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;

	}

	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: white;
		position: relative;
		top:10px;
	}

	.title2
 {
   text-align: center;
	 margin-bottom: 3em;
	 text-transform: uppercase;
	 color: white;
}

	.title2 p
 {
		position: relative;
		top: 25px;
	 text-transform: none ;
	 text-align: left;
 }
 .title3
{
	text-align: center;
	margin-bottom: 2em;
	text-transform: uppercase;
	color: white;
	text-decoration: underline;
}

 .title3 p
{
	 position: relative;
	 top: 25px;
	text-transform: none ;
	text-align: left;
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 3em;
		background: #2886be;
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-o-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.90em;
		color: #FFF;
	}

		.button:hover
		{
			background: #aad5ff;
		}

		.button:active
		{
			background: #2886be;
		}


/*********************************************************************************/
/* Two Column                                                                    */
/*********************************************************************************/

	#two-column
	{
		padding-top: 3em;
	}

	#two-column .title h2
	{
		font-size: 1.6em;
	}

	#two-column #tbox1
	{
		float: left;
		width: 370px;
	}

	#two-column #tbox2
	{
		float: right;
		width: 370px;
	}
	/*********************************************************************************/
	/* formulario                                                                          */
	/*********************************************************************************/
	#formulario
	{
		position: absolute;
		right: 45em;
		top: 2em;
	}

	#formulario ul
	{
		display: inline-block;
	}

	#formulario li
	{
		display: block;

		text-align: center;
	}

	#formulario li a, #formulario li span
	{
		display: block;
		padding: 0.80em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 1000;
		text-transform: uppercase;
		outline: 0;
		color: #ecea86;
	}

.Deco h2 {
	display: inline-block;
	position: relative;
}

.Deco h2::after,h2::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: #FFFF;
	top: 0.6em;
}
.Deco h2::before{
	left: -130px
}
.Deco h2::after{
	right: -130px;
}
